{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Lien envoyé</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex items-center justify-center min-h-screen bg-green-50">
  <div class="max-w-md p-6 bg-white rounded-2xl shadow-md text-center">
   <h2 class="text-2xl font-bold text-green-700">Réinitialisation réussie 😁🎆<h2>
    <p class="mt-2 text-gray-600">Votre nouevau mot de passe à été bien pris en compte.</p>
    <a href="{% url 'connexion' %}" class="inline-block mt-6 text-green-700 hover:underline" onclick="window.location.href='{% url 'connexion' %}'">Retour à la page de connexion 😎 </a>
  </div>

</body>
</html>